Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend && pnpm run format'
        language: system
        files: ^frontend/.*\.(js|ts|svelte|css|json|html)$

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: end-of-file-fixer
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

deps: add missing httpx package (#89)
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

A lot of refactoring (#87)
  AGENTS.md
  backend/.env.example
  backend/app/config.py
  backend/app/social/linkedin/config.py
  backend/app/social/linkedin/service.py
  backend/app/utils/__init__.py
  backend/app/utils/encryption.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.css
  frontend/src/lib/features/linkedin/linkedin-connect-button.svelte
  frontend/src/lib/features/linkedin/linkedin-connection-card.svelte
  frontend/src/lib/features/linkedin/linkedin-disconnect-button.svelte
  frontend/src/lib/features/posts/post-card.svelte
  frontend/src/lib/utils/format-date.ts
  frontend/src/routes/(protected)/settings/+page.svelte
Due: frontend-format, frontend-lint

New agents file (#91)
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: none

checkpoint
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/posts/models.py
  backend/migrations/versions/0756c72f69ea_add_cascade_delete_to_posts.py
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/authentication/authentication.zod.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/lib/api/default/default.zod.ts
  frontend/src/lib/api/email-verification/email-verification.ts
  frontend/src/lib/api/email-verification/email-verification.zod.ts
  frontend/src/lib/api/linkedin/linkedin.ts
  frontend/src/lib/api/linkedin/linkedin.zod.ts
  frontend/src/lib/api/posts/posts.ts
  frontend/src/lib/api/posts/posts.zod.ts
  frontend/src/lib/api/superimpress.schemas.ts
  frontend/src/routes/(protected)/settings/+page.svelte
Due: frontend-format, frontend-lint

clean up migrations
  backend/migrations/versions/0756c72f69ea_add_cascade_delete_to_posts.py
  backend/migrations/versions/4a3aea050616_initial_schema.py
Due: none

Let user delete their account (#92)
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/posts/models.py
  backend/migrations/versions/4a3aea050616_initial_schema.py
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/authentication/authentication.zod.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/lib/api/default/default.zod.ts
  frontend/src/lib/api/email-verification/email-verification.ts
  frontend/src/lib/api/email-verification/email-verification.zod.ts
  frontend/src/lib/api/linkedin/linkedin.ts
  frontend/src/lib/api/linkedin/linkedin.zod.ts
  frontend/src/lib/api/posts/posts.ts
  frontend/src/lib/api/posts/posts.zod.ts
  frontend/src/lib/api/superimpress.schemas.ts
  frontend/src/routes/(protected)/settings/+page.svelte
Due: frontend-format, frontend-lint

fix: exclude login endpoint on axios 401 interceptor
  frontend/src/lib/api/axios.ts
Due: frontend-format, frontend-lint

refactor: use jose for token expiry checks in axios interceptors
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/api/axios.ts
  frontend/src/lib/utils/jwt.ts
Due: frontend-format, frontend-lint

re-run load function on logout
  frontend/src/lib/stores/auth.ts
  frontend/src/routes/(protected)/+layout.ts
Due: frontend-format, frontend-lint

fix: treat tokens without expiry as invalid
  frontend/src/lib/utils/jwt.ts
Due: frontend-format, frontend-lint

fix: exclude login endpoint on axios 401 interceptor (#94)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/api/axios.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/jwt.ts
  frontend/src/routes/(protected)/+layout.ts
Due: frontend-format, frontend-lint

redis setup
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

use redis for oauth state
  backend/.env.example
  backend/app/redis.py
  backend/app/social/linkedin/oauth.py
Due: none

update docs
  AGENTS.md
  backend/AGENTS.md
  backend/README.md
  decisions/tech/14-oauth-flow-implementation.md
  decisions/tech/assets/linkedin-oauth.png
  frontend/AGENTS.md
Due: none

Add Redis and use for OAuth state (#97)
  AGENTS.md
  backend/.env.example
  backend/AGENTS.md
  backend/README.md
  backend/app/redis.py
  backend/app/social/linkedin/oauth.py
  backend/pyproject.toml
  backend/uv.lock
  decisions/tech/14-oauth-flow-implementation.md
  decisions/tech/assets/linkedin-oauth.png
  docker-compose.yml
  frontend/AGENTS.md
Due: none

feat: APScheduler infra and background job
  backend/app/main.py
  backend/app/scheduler/__init__.py
  backend/app/scheduler/jobs.py
  backend/app/scheduler/scheduler.py
Due: none

codegen
  frontend/src/lib/api/posts/posts.ts
  frontend/src/lib/api/posts/posts.zod.ts
  frontend/src/lib/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

feat: add scheduled post database schema and migration
  backend/app/posts/models.py
  backend/migrations/versions/d09a6d64a682_add_post_scheduling_support.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: post scheduling services and API endpoints
  backend/app/posts/router.py
  backend/app/posts/service.py
  backend/app/social/linkedin/service.py
Due: none

ui
  frontend/src/lib/components/ui/datetime-picker.svelte
  frontend/src/lib/features/linkedin/post-to-linkedin-button.svelte
  frontend/src/lib/features/posts/cancel-schedule-button.svelte
  frontend/src/lib/features/posts/post-card.svelte
  frontend/src/lib/features/posts/schedule-post-button.svelte
  frontend/src/lib/utils/format-date.ts
Due: frontend-format, frontend-lint

use bits-ui for datetime picker
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/ui/datetime-picker.svelte
  frontend/src/lib/features/posts/schedule-post-button.svelte
Due: frontend-format, frontend-lint

display error in schedule modal
  frontend/src/lib/features/posts/schedule-post-button.svelte
Due: frontend-format, frontend-lint

remove redundant db field changes
  backend/app/scheduler/jobs.py
Due: none

shadcn
  frontend/components.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/utils/classname.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

update pre-commit
  .pre-commit-config.yaml
Due: none

orval
  frontend/README.md
  frontend/components.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/orval.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/authentication/authentication.ts
  frontend/src/api/authentication/authentication.zod.ts
  frontend/src/api/axios.ts
  frontend/src/api/default/default.ts
  frontend/src/api/default/default.zod.ts
  frontend/src/api/email-verification/email-verification.ts
  frontend/src/api/email-verification/email-verification.zod.ts
  frontend/src/api/linkedin/linkedin.ts
  frontend/src/api/linkedin/linkedin.zod.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/stores/auth.ts
  frontend/src/utils/jwt.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: frontend-format, frontend-lint

providers
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: frontend-format

query dev tools
  frontend/src/App.tsx
Due: none

fix react
  frontend/orval.config.ts
  frontend/src/api/authentication/authentication.ts
  frontend/src/api/default/default.ts
  frontend/src/api/email-verification/email-verification.ts
  frontend/src/api/linkedin/linkedin.ts
  frontend/src/api/posts/posts.ts
Due: frontend-format, frontend-lint

base routes
  frontend/.env.example
  frontend/.gitattributes
  frontend/.tanstack/tmp/35f25ac7-95d754b699a9f66aa807591a94529b65
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/components/logo.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/features/auth/login/login.tsx
  frontend/src/features/auth/register/register.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/layouts/auth-layout.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/router.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/register.tsx
  frontend/src/utils/get-error-message.ts
Due: frontend-format, frontend-lint

more deps
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/empty.tsx
  frontend/src/components/ui/field.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
Due: frontend-format, frontend-lint

refactor login
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/auth/login/login.tsx
Due: frontend-format

card for auth
  frontend/src/features/auth/login/login.tsx
  frontend/src/features/auth/register/register.tsx
Due: none

lowercase
  frontend/src/app.tsx
  frontend/src/main.tsx
Due: none

protected routes
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_protected.tsx
  frontend/src/routes/_protected/index.tsx
Due: frontend-format, frontend-lint

dashboard route and sidebar
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/logo.tsx
  frontend/src/layouts/app-layout.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_protected/_app.tsx
  frontend/src/routes/_protected/_app/index.tsx
Due: frontend-format, frontend-lint

refactor names
  frontend/src/features/auth/login/login-page.tsx
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/routes/_protected/_app/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/register.tsx
Due: none

User info card
  frontend/src/app.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/dashboard/user-info-card.tsx
  frontend/src/layouts/app-layout.tsx
Due: none

create post flow
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/posts/create-post-page.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_protected/_app/posts/new.tsx
Due: frontend-format, frontend-lint
