Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend && pnpm run format'
        language: system
        files: ^frontend/.*\.(js|ts|svelte|css|json|html)$

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: end-of-file-fixer
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

Add github action for formatting & linting
  .github/workflows/formatting.yml
  frontend/package.json
Due: frontend-format

ignore ruff-cache
  backend/.gitignore
Due: none

Add ci/cd label for .github changes
  .github/labeler.yml
Due: none

Separate backend and frontend workflow
  .github/workflows/formatting.yml
Due: none

fix spa build
  frontend/svelte.config.js
Due: frontend-format, frontend-lint

add venv instruction
  backend/README.md
Due: none

Setup database, post model and endpoints
  .env.example
  .gitignore
  backend/app/__init__.py
  backend/app/database.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/post.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

docs: document PostgreSQL setup and decisions
  README.md
  backend/README.md
  decisions/tech/5-postgresql.md
Due: none

chore: rename postgres volume and remove models __init__
  backend/app/models/__init__.py
  docker-compose.yml
Due: none

refactor: move post endpoints to router
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/post.py
Due: none

chore: migrate config to pydantic-settings
  .env.example
  backend/.env.example
  backend/app/config.py
  backend/app/database.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

feat: add user authentication with email, password flow
  backend/app/auth.py
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/auth.py
  backend/app/models/post.py
  backend/app/models/user.py
  backend/app/routers/auth.py
  backend/app/routers/post.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: Add cookie-based authentication
  backend/.env.example
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/auth.py
  backend/app/routers/auth.py
Due: none

feat: Add refresh token
  backend/app/auth.py
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/post.py
  backend/app/models/token.py
  backend/app/models/user.py
  backend/app/routers/auth.py
  backend/app/routers/post.py
Due: none

feat: Add auth UI and automatic token refresh flow
  backend/app/main.py
  backend/app/routers/auth.py
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(protected)/dashboard/+page.svelte
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
Due: frontend-format, frontend-lint

feat: Add authentication e2e tests
  frontend/e2e/auth.test.ts
  frontend/playwright.config.ts
Due: frontend-format, frontend-lint

refactor: helper functions and efficient tests
  frontend/e2e/auth.test.ts
Due: frontend-format, frontend-lint

feat: Implement Google OAuth integration
  backend/.env.example
  backend/app/auth.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/oauth.py
  backend/app/routers/auth.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/routes/(auth)/callback/google/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: frontend-format, frontend-lint

feat: Implement JWT-based authentication
  backend/.env.example
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/models/auth.py
  backend/app/routers/__init__.py
  backend/app/routers/auth.py
  decisions/product/5-authentication.md
Due: none

feat: google OAuth flow and token management
  backend/app/routers/auth.py
  frontend/eslint.config.js
  frontend/src/lib/api.ts
  frontend/src/lib/stores/authStore.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/callback/google/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(protected)/+layout.svelte
  frontend/src/routes/(protected)/dashboard/+page.svelte
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
Due: frontend-format, frontend-lint

feat: add Button, Input, and FormField components
  frontend/src/lib/components/Button.svelte
  frontend/src/lib/components/FormField.svelte
  frontend/src/lib/components/Input.svelte
  frontend/src/routes/(auth)/callback/google/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: frontend-format, frontend-lint

feat(e2e): Update authentication tests
  frontend/e2e/auth.test.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: frontend-format, frontend-lint

feat: serve frontend from backend
  backend/app/main.py
  frontend/src/routes/(auth)/login/+page.svelte
Due: frontend-format, frontend-lint

Create CLAUDE.md
  CLAUDE.md
Due: none

update the volumne
  .env.example
  CLAUDE.md
  docker-compose.yml
Due: none

update instructions
  README.md
  backend/README.md
Due: none

handle trailing slashes
  backend/app/main.py
  frontend/src/routes/+page.svelte
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

format with pre-commit
  backend/.dockerignore
  backend/Dockerfile
  backend/app/main.py
  decisions/tech/2-docker.md
  decisions/tech/4-pnpm.md
  frontend/.dockerignore
  frontend/.env.example
  frontend/Dockerfile
  frontend/src/lib/assets/favicon.svg
Due: none

why trail slash
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

refactor
  frontend/src/lib/components/button.svelte
  frontend/src/lib/components/form-field.svelte
  frontend/src/lib/components/input.svelte
  frontend/src/lib/stores/auth-store.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/callback/google/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(protected)/+layout.svelte
  frontend/src/routes/(protected)/dashboard/+page.svelte
Due: frontend-format, frontend-lint

fix api prefix
  backend/app/main.py
Due: none

checkpoint
  backend/app/config.py
  backend/app/database.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/post.py
  backend/app/routers/__init__.py
  backend/app/routers/post.py
Due: none

checkpoint
  backend/.env.example
  backend/app/auth.py
  backend/app/config.py
  backend/app/main.py
  backend/pyproject.toml
  backend/ruff.toml
  backend/uv.lock
Due: none

checkpoint
  backend/app/auth/__init__.py
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/main.py
Due: none

checkpoint
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/database.py
  backend/app/main.py
Due: none

checkpoint
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/main.py
Due: none

checkpoint
  backend/app/main.py
Due: none

isolated configs
  backend/app/auth/config.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/config.py
Due: none

pass lifespan to app
  backend/app/main.py
Due: none

update decisions
  decisions/tech/5-postgresql.md
  decisions/tech/6-authentication.md
Due: none
