Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend && pnpm run format'
        language: system
        files: ^frontend/.*\.(js|ts|svelte|css|json|html)$

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: end-of-file-fixer
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

fix tests
  frontend/e2e/login.test.ts
  frontend/e2e/register.test.ts
Due: frontend-format, frontend-lint

refactor to zod validation
  frontend/src/lib/features/auth/field-info.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

cleaner error message
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

refactor input
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/ui/input.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
  frontend/src/lib/utils/cn.ts
Due: frontend-format, frontend-lint

label ui component
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/ui/label.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

feat: create form-field component
  frontend/src/lib/features/auth/form-field.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

Add setup script and instructions
  README.md
  setup.sh
Due: none

Fix: openssl check and prompt for .env overwrite
  setup.sh
Due: none

checkpoint
  .github/workflows/e2e-tests.yml
Due: none

docs: add svelte component design ADR
  decisions/tech/10-svelte-component-design.md
Due: none

docs: fix import alias in svelte component design ADR
  decisions/tech/10-svelte-component-design.md
Due: none

Update decisions/tech/10-svelte-component-design.md
  decisions/tech/10-svelte-component-design.md
Due: none

bump pnpm
  frontend/package.json
Due: frontend-format

add domain specific claude.md
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

add svelte mcp
  frontend/.mcp.json
Due: frontend-format

simple dashboard
  frontend/src/lib/features/dashboard/dashboard.svelte
  frontend/src/lib/features/dashboard/user-info-card.svelte
  frontend/src/routes/(protected)/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/page.svelte.spec.ts
Due: frontend-format, frontend-lint

logo component
  frontend/src/lib/components/logo.svelte
  frontend/src/lib/layouts/auth-layout.svelte
Due: frontend-format, frontend-lint

refactor slots to use snippets
  frontend/src/lib/layouts/auth-layout.svelte
Due: frontend-format, frontend-lint

design improvements
  frontend/src/lib/components/app-sidebar.svelte
  frontend/src/lib/features/auth/change-password/change-password.svelte
  frontend/src/lib/features/dashboard/dashboard.svelte
  frontend/src/lib/layouts/app-layout.svelte
Due: frontend-format, frontend-lint

better logout button
  frontend/src/lib/components/app-sidebar.svelte
Due: frontend-format, frontend-lint

fix: add -i flag for bash entrypoints
  .pre-commit-config.yaml
Due: none

Feat: Implement email verification
  backend/app/auth/models.py
  backend/app/auth/service.py
  backend/app/email_verification/__init__.py
  backend/app/email_verification/config.py
  backend/app/email_verification/models.py
  backend/app/email_verification/router.py
  backend/app/email_verification/service.py
  backend/app/main.py
  backend/migrations/versions/94740395d249_add_email_verification_fields.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix app url and codegen
  backend/.env.example
  backend/app/email_verification/config.py
  backend/app/email_verification/service.py
  frontend/src/lib/api/email-verification/email-verification.ts
  frontend/src/lib/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

feat: Add email verification and resend pages
  frontend/src/lib/features/auth/resend-verification/resend-verification.svelte
  frontend/src/lib/features/auth/verify-email/verify-email.svelte
  frontend/src/routes/verify-email/[token]/+page.svelte
  frontend/src/routes/verify-email/resend/+page.svelte
Due: frontend-format, frontend-lint

feat: decouple email verification from sign-up
  backend/app/auth/service.py
  backend/app/email_verification/router.py
  frontend/src/lib/api/email-verification/email-verification.ts
  frontend/src/lib/features/dashboard/dashboard.svelte
  frontend/src/lib/features/dashboard/user-info-card.svelte
Due: frontend-format, frontend-lint

catch email sending errors
  backend/app/email_verification/router.py
  backend/app/email_verification/service.py
Due: none

add database transaction doc
  decisions/tech/10-database-transaction-management.md
Due: none

backend checkpoint: post feature
  backend/app/main.py
  backend/app/posts/__init__.py
  backend/app/posts/models.py
  backend/app/posts/router.py
  backend/app/posts/service.py
  backend/migrations/env.py
  backend/migrations/versions/3e80a7f6ba45_add_posts_table.py
Due: none

run codegen
  frontend/src/lib/api/posts/posts.ts
  frontend/src/lib/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

make title optional
  backend/app/posts/models.py
  backend/migrations/versions/5250977d40cd_make_post_title_optional.py
  frontend/src/lib/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

fix boolean and string bug
  backend/app/posts/service.py
Due: none

frontend checkpoint: post list and creation
  frontend/src/lib/components/app-sidebar.svelte
  frontend/src/lib/components/ui/textarea.svelte
  frontend/src/lib/features/posts/create-post.svelte
  frontend/src/lib/features/posts/post-card.svelte
  frontend/src/lib/features/posts/posts-list.svelte
  frontend/src/routes/(protected)/posts/+page.svelte
  frontend/src/routes/(protected)/posts/new/+page.svelte
Due: frontend-format, frontend-lint

get orval to generate zod too
  frontend/orval.config.ts
  frontend/src/lib/api/authentication/authentication.zod.ts
  frontend/src/lib/api/default/default.zod.ts
  frontend/src/lib/api/email-verification/email-verification.zod.ts
  frontend/src/lib/api/posts/posts.zod.ts
Due: frontend-format, frontend-lint

clean up form
  frontend/src/lib/features/posts/create-post.svelte
Due: frontend-format, frontend-lint

feat: Add LinkedIn connection fields to User
  backend/app/auth/models.py
  backend/migrations/versions/3524ea2b729e_add_linkedin_connection_fields_to_user.py
Due: none

feat: linkedIn OAuth integration
  backend/.env.example
  backend/app/linkedin/__init__.py
  backend/app/linkedin/client.py
  backend/app/linkedin/config.py
  backend/app/linkedin/encryption.py
  backend/app/linkedin/models.py
  backend/app/linkedin/oauth.py
  backend/app/linkedin/router.py
  backend/app/linkedin/service.py
  backend/app/main.py
Due: none

codegen
  frontend/src/lib/api/authentication/authentication.zod.ts
  frontend/src/lib/api/linked-in/linked-in.ts
  frontend/src/lib/api/linked-in/linked-in.zod.ts
  frontend/src/lib/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

fix: rename 'linked-in' to 'linkedin'
  backend/app/linkedin/router.py
  frontend/src/lib/api/linkedin/linkedin.ts
  frontend/src/lib/api/linkedin/linkedin.zod.ts
Due: frontend-format, frontend-lint
