Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend && pnpm run format'
        language: system
        files: ^frontend/.*\.(js|ts|svelte|css|json|html)$

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: end-of-file-fixer
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

refactor: improve error handling at auth routes
  backend/app/auth/router.py
Due: none

hotfix: HTTP status code for email conflict
  backend/app/auth/router.py
Due: none

feat: Add Alembic and initial database migration
  README.md
  backend/alembic.ini
  backend/app/database.py
  backend/app/main.py
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/ee3dec5a0673_initial_migration.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor: replace SQLModel with SQLAlchemy
  backend/app/auth/models.py
  backend/app/auth/service.py
  backend/app/database.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4c983bd84da0_initial_migration.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor: move pydantic models to a separate schemas file
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/schemas.py
  backend/app/auth/service.py
Due: none

Migrate from SQLModel to SQLAlchemy + Pydantic
  CLAUDE.md
  backend/README.md
  backend/app/auth/models.py
  backend/app/auth/service.py
  backend/app/database.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/ee3dec5a0673_initial_migration.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add registration page with e2e tests
  frontend/e2e/register.test.ts
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

Refactor e2e tests to follow Playwright best practices
  frontend/e2e/register.test.ts
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

test endpoint and prefix
  backend/app/main.py
Due: none

Delete demo.test.ts
  frontend/e2e/demo.test.ts
Due: frontend-format, frontend-lint

simple tests
  frontend/e2e/register.test.ts
Due: frontend-format, frontend-lint

simple register page
  frontend/src/routes/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

remove rewrites
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

format
  backend/app/main.py
Due: none

use resolve
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

feat: implement login flow with e2e tests
  frontend/e2e/login.test.ts
  frontend/src/routes/login/+page.svelte
Due: frontend-format, frontend-lint

basic login page
  frontend/e2e/login.test.ts
  frontend/src/routes/login/+page.svelte
Due: frontend-format, frontend-lint

install daisy
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.css
Due: frontend-format

better login page
  frontend/src/routes/login/+page.svelte
Due: frontend-format, frontend-lint

better register and login pages
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

fix form legend
  frontend/src/routes/login/+page.svelte
Due: frontend-format, frontend-lint

event handler and form event type
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

better password validation
  backend/app/auth/models.py
Due: none

fix registration error message
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

regex to validate the password
  backend/app/auth/models.py
Due: none

Add pytest and password validation tests
  backend/.gitignore
  backend/app/auth/models.py
  backend/pyproject.toml
  backend/tests/test_password_validation.py
  backend/uv.lock
Due: none

remove deprecated class-based config
  backend/app/auth/models.py
Due: none

update password to meet security requirements
  frontend/e2e/login.test.ts
  frontend/e2e/register.test.ts
Due: frontend-format, frontend-lint

tests for password validation on registration page
  frontend/e2e/register.test.ts
Due: frontend-format, frontend-lint

Delete CLAUDE.md
  CLAUDE.md
Due: none

refactor to feature based structure
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-format, frontend-lint

auth layout
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
  frontend/src/lib/layouts/auth-layout.svelte
Due: frontend-format, frontend-lint

login refactor
  frontend/e2e/login.test.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/features/auth/login/api.ts
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-format, frontend-lint

register refactor
  frontend/e2e/register.test.ts
  frontend/src/lib/features/auth/register/api.ts
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

collocate files
  backend/app/auth/models.py
  backend/app/auth/test_password_validation.py
  backend/app/auth/validators.py
  backend/pyproject.toml
Due: none

add password validation tests
  frontend/e2e/register.test.ts
  frontend/src/lib/features/auth/register/api.ts
Due: frontend-format, frontend-lint

feat: run specific formatter based on files changed
  .github/workflows/backend-format.yml
  .github/workflows/frontend-format.yml
Due: none

feat: add tanstack in login component
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/features/auth/login/field-info.svelte
  frontend/src/lib/features/auth/login/login.svelte
Due: frontend-format, frontend-lint

checkpoint
  frontend/src/lib/features/auth/field-info.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint

redirect after successful auth mutations
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Due: frontend-format, frontend-lint
