Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend && pnpm run format'
  language: system

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system

improve spacing
  frontend/src/layouts/auth-layout.tsx
Due: none

post history checkpoint
  backend/drizzle/0003_cheerful_magdalene.sql
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/index.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/openapi.json
  frontend/src/api/axios.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-list.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/layouts/auth-layout.tsx
Due: frontend-format, frontend-lint

refactor
  backend/src/db/schema/posts.ts
  backend/src/modules/posts/model.ts
  frontend/openapi.json
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/posts/mark-as-published-dialog.tsx
Due: frontend-format, frontend-lint

mark as published
  AGENTS.md
  README.md
  backend/AGENTS.md
  backend/README.md
  backend/src/index.ts
  docs/content/docs/features/mark-as-published.mdx
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/content/docs/product/1-why.mdx
  docs/content/docs/product/2-what.mdx
  docs/content/docs/product/3-how.mdx
  docs/content/docs/product/4-mvp.mdx
  docs/content/docs/tech/10-biome.mdx
  docs/content/docs/tech/3-postgresql.mdx
  docs/content/docs/tech/4-ui-component-architecture.mdx
  docs/content/docs/tech/5-ui-form-decisions.mdx
  docs/content/docs/tech/7-bun-elysia-backend.mdx
  docs/content/docs/tech/8-drizzle-orm.mdx
  docs/content/docs/tech/9-better-auth.mdx
  frontend/AGENTS.md
  frontend/openapi.json
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/components/logo.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/post-list.tsx
Due: frontend-format, frontend-lint

refactor dry
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/features/posts/utils.ts
Due: frontend-format, frontend-lint

radix migrate
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/tooltip.tsx
Due: frontend-format

icons
  frontend/AGENTS.md
  frontend/bun.lock
  frontend/components.json
  frontend/package.json
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/features/dashboard/user-info-card.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/post-list.tsx
  frontend/src/features/posts/posts-page.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/features/posts/utils.ts
  frontend/src/features/settings/delete-account-card.tsx
  frontend/src/features/settings/linkedin/disconnect-linkedin-account.tsx
  frontend/src/features/settings/linkedin/linkedin-connection-card.tsx
Due: frontend-format, frontend-lint

fix formatting
  frontend/openapi.json
  frontend/src/api/axios.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/features/dashboard/user-info-card.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/post-list.tsx
  frontend/src/features/posts/posts-page.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/features/posts/utils.ts
  frontend/src/features/settings/delete-account-card.tsx
  frontend/src/features/settings/linkedin/disconnect-linkedin-account.tsx
  frontend/src/features/settings/linkedin/linkedin-connection-card.tsx
Due: frontend-format, frontend-lint

codegen
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  frontend/openapi.json
  frontend/src/api/axios.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
Due: frontend-format, frontend-lint

frontend format
  frontend/openapi.json
  frontend/src/api/axios.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
Due: frontend-format, frontend-lint

better copy button
  frontend/src/features/posts/post-card.tsx
Due: none

construct social url from id
  frontend/biome.jsonc
  frontend/package.json
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/utils/construct-social-links.test.ts
  frontend/src/utils/construct-social-links.ts
Due: frontend-format, frontend-lint

use formate date
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: none

better dashboard
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/openapi.json
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/dashboard/user-info-card.tsx
Due: frontend-format, frontend-lint

error boundaries
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/error-boundary.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/layouts/app-layout.tsx
  frontend/src/layouts/auth-layout.tsx
  frontend/src/utils/report-error.ts
Due: frontend-format, frontend-lint

fix backend
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
Due: none

Improvements (#107)
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/biome.jsonc
  frontend/bun.lock
  frontend/openapi.json
  frontend/package.json
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/components/error-boundary.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/dashboard/user-info-card.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
  frontend/src/layouts/app-layout.tsx
  frontend/src/layouts/auth-layout.tsx
  frontend/src/utils/construct-social-links.test.ts
  frontend/src/utils/construct-social-links.ts
  frontend/src/utils/report-error.ts
Due: frontend-format, frontend-lint

hardcoded values
  backend/.env.example
  backend/src/auth.ts
  backend/src/constants.ts
  backend/src/index.ts
  backend/src/modules/linkedin/client.ts
  backend/src/modules/linkedin/service.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/.env.example
  frontend/src/constants.ts
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/settings/change-password-page.tsx
  frontend/src/features/settings/linkedin/linkedin-connection-card.tsx
  frontend/src/utils/auth-client.ts
  frontend/src/utils/construct-social-links.ts
Due: frontend-format, frontend-lint

hardcoded values (#108)
  backend/.env.example
  backend/src/auth.ts
  backend/src/constants.ts
  backend/src/index.ts
  backend/src/modules/linkedin/client.ts
  backend/src/modules/linkedin/service.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/.env.example
  frontend/src/constants.ts
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/settings/change-password-page.tsx
  frontend/src/features/settings/linkedin/linkedin-connection-card.tsx
  frontend/src/utils/auth-client.ts
  frontend/src/utils/construct-social-links.ts
Due: frontend-format, frontend-lint

add delete for history
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/service.ts
  frontend/openapi.json
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: frontend-format, frontend-lint

derive status and bun update
  backend/drizzle/0004_groovy_smiling_tiger.sql
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  docs/content/docs/index.mdx
  docs/content/docs/tech/2-bun.mdx
  docs/content/docs/tech/2-pnpm.mdx
  frontend/AGENTS.md
  frontend/openapi.json
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/constants.ts
  frontend/src/features/dashboard/dashboard-page.tsx
Due: frontend-format, frontend-lint

remove pnpm
  AGENTS.md
  docs/README.md
  frontend/scripts/README.md
Due: none

use bun
  frontend/Dockerfile
Due: none

Add delete for history (#109)
  AGENTS.md
  backend/drizzle/0004_groovy_smiling_tiger.sql
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  docs/README.md
  docs/content/docs/index.mdx
  docs/content/docs/tech/2-bun.mdx
  docs/content/docs/tech/2-pnpm.mdx
  frontend/AGENTS.md
  frontend/Dockerfile
  frontend/openapi.json
  frontend/scripts/README.md
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/constants.ts
  frontend/src/features/dashboard/dashboard-page.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: frontend-format, frontend-lint

fresh start
  backend/drizzle/0000_chief_union_jack.sql
  backend/drizzle/0000_clean_puma.sql
  backend/drizzle/0001_colossal_mentallo.sql
  backend/drizzle/0002_rare_reptil.sql
  backend/drizzle/0003_cheerful_magdalene.sql
  backend/drizzle/0004_groovy_smiling_tiger.sql
  backend/drizzle/meta/0000_snapshot.json
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/modules/linkedin/model.ts
  backend/src/modules/linkedin/service.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/openapi.json
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

fresh start (#110)
  backend/drizzle/0000_chief_union_jack.sql
  backend/drizzle/0000_clean_puma.sql
  backend/drizzle/0001_colossal_mentallo.sql
  backend/drizzle/0002_rare_reptil.sql
  backend/drizzle/0003_cheerful_magdalene.sql
  backend/drizzle/0004_groovy_smiling_tiger.sql
  backend/drizzle/meta/0000_snapshot.json
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/modules/linkedin/model.ts
  backend/src/modules/linkedin/service.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/openapi.json
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

checkpoint
  backend/.env.example
  backend/README.md
  backend/bun.lock
  backend/package.json
  backend/src/auth.ts
  frontend/src/features/auth/forgot-password/forgot-password-page.tsx
  frontend/src/features/auth/reset-password/reset-password-page.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/forgot-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/utils/get-error-message.ts
Due: frontend-format, frontend-lint

max length bug
  backend/src/auth.ts
  backend/src/emails/reset-password.ts
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/auth/reset-password/reset-password-page.tsx
Due: none

Forgot password flow (#112)
  backend/.env.example
  backend/README.md
  backend/bun.lock
  backend/package.json
  backend/src/auth.ts
  backend/src/emails/reset-password.ts
  frontend/src/features/auth/forgot-password/forgot-password-page.tsx
  frontend/src/features/auth/reset-password/reset-password-page.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/forgot-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/utils/get-error-message.ts
Due: frontend-format, frontend-lint

register test
  frontend/.gitignore
  frontend/bun.lock
  frontend/e2e/register.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.node.json
Due: frontend-format, frontend-lint

bun fix
  frontend/e2e/register.spec.ts
  frontend/playwright.config.ts
Due: frontend-format, frontend-lint

register test
  frontend/e2e/login.spec.ts
  frontend/e2e/register.spec.ts
  frontend/package.json
Due: frontend-format, frontend-lint

e2e workflow
  .github/workflows/frontend-e2e.yml
Due: none

bump lib
  backend/bun.lock
  backend/package.json
Due: none

test new workflow
  .github/workflows/frontend-e2e.yml
Due: none

also when this file changes
  .github/workflows/frontend-e2e.yml
Due: none

test new workflow (#114)
  .github/workflows/frontend-e2e.yml
Due: none

bump lib (#113)
  backend/bun.lock
  backend/package.json
Due: none

Path conditions:
  frontend-format: any of: ^frontend/.*\.(js|ts|svelte|css|json|html)$
  frontend-lint: any of: ^frontend/.*\.(js|ts|svelte)$
