Repository yaralahruthik/super-impress: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend && pnpm run format'
        language: system
        files: ^frontend/.*\.(js|ts|svelte|css|json|html)$

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: end-of-file-fixer
        exclude: ^frontend/(node_modules|\.svelte-kit|build)/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

fix: return IDs as strings instead of numbers
  backend/src/modules/linkedin/index.ts
  backend/src/modules/linkedin/model.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  frontend/openapi.json
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
Due: frontend-format, frontend-lint

fix: add bun types in tsconfig
  frontend/tsconfig.app.json
Due: frontend-format

fix: accept unknown error type in getErrorMessage for error boundary compatibility
  frontend/src/utils/get-error-message.ts
Due: frontend-format, frontend-lint

backend format
  backend/src/modules/linkedin/index.ts
Due: none

fix: add default items to better-auth array schemas
  frontend/openapi.json
  frontend/scripts/fetch-openapi.ts
  frontend/src/api/better-auth/better-auth.zod.ts
Due: frontend-format, frontend-lint

ci: add frontend build and tests check
  .github/workflows/frontend-checks.yml
  frontend/package.json
Due: frontend-format

deps: add @types/bun
  frontend/bun.lock
  frontend/package.json
Due: frontend-format

Fix build errors (#115)
  .github/workflows/frontend-checks.yml
  backend/src/modules/linkedin/index.ts
  backend/src/modules/linkedin/model.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  frontend/bun.lock
  frontend/openapi.json
  frontend/package.json
  frontend/scripts/fetch-openapi.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/utils/get-error-message.ts
  frontend/tsconfig.app.json
Due: frontend-format, frontend-lint

Document bigserial decision
  docs/content/docs/tech/11-bigserial-primary-keys.mdx
Due: none

Update Twitter/X references to X
  docs/content/docs/features/mark-as-published.mdx
  frontend/src/features/posts/utils.ts
Due: frontend-format, frontend-lint

mark as published improvement
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
Due: none

Document bigserial decision (#117)
  docs/content/docs/tech/11-bigserial-primary-keys.mdx
Due: none

checkpoint
  .github/workflows/frontend-checks.yml
  frontend/.dockerignore
  frontend/.env.docker
  frontend/Dockerfile
  frontend/bun.lock
  frontend/package.json
  frontend/src/constants.ts
  frontend/src/env-schema.ts
  frontend/src/env.ts
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

env validation
  backend/.env.docker
  backend/drizzle.config.ts
  backend/src/auth.ts
  backend/src/db/index.ts
  backend/src/emails/reset-password.ts
  backend/src/env.ts
  backend/src/index.ts
Due: none

fix env
  .github/workflows/frontend-checks.yml
Due: none

env validation
  docs/content/docs/index.mdx
  docs/content/docs/tech/12-env-validation.mdx
Due: none

ENV Validation and UI Improvements (#118)
  .github/workflows/frontend-checks.yml
  backend/.env.docker
  backend/drizzle.config.ts
  backend/src/auth.ts
  backend/src/db/index.ts
  backend/src/emails/reset-password.ts
  backend/src/env.ts
  backend/src/index.ts
  docs/content/docs/features/mark-as-published.mdx
  docs/content/docs/index.mdx
  docs/content/docs/tech/12-env-validation.mdx
  frontend/.dockerignore
  frontend/.env.docker
  frontend/Dockerfile
  frontend/bun.lock
  frontend/package.json
  frontend/src/constants.ts
  frontend/src/env-schema.ts
  frontend/src/env.ts
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/utils.ts
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

sanitize linkedin error
  backend/src/modules/linkedin/client.ts
Due: none

revert available platforms check
  frontend/src/features/posts/mark-as-published-dialog.tsx
Due: none

let backend handle password length
  frontend/src/constants.ts
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/auth/reset-password/reset-password-page.tsx
  frontend/src/features/settings/change-password-page.tsx
Due: frontend-format, frontend-lint

superimpress hosting decision
  docs/content/docs/tech/13-hosting-domains.mdx
Due: none

new build
  docs/vite.config.ts
Due: none

fix props
  frontend/src/features/posts/post-card.tsx
Due: none

new build (#120)
  docs/vite.config.ts
Due: none

More improvements (#119)
  backend/src/modules/linkedin/client.ts
  docs/content/docs/tech/13-hosting-domains.mdx
  frontend/src/constants.ts
  frontend/src/features/auth/register/register-page.tsx
  frontend/src/features/auth/reset-password/reset-password-page.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/settings/change-password-page.tsx
Due: frontend-format, frontend-lint

start to next
  docs/.claude/settings.json
  docs/.gitignore
  docs/AGENTS.md
  docs/README.md
  docs/biome.jsonc
  docs/bun.lock
  docs/content/docs/index.mdx
  docs/next.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/src/app/(docs)/[[...slug]]/page.tsx
  docs/src/app/(docs)/layout.tsx
  docs/src/app/api/search/route.ts
  docs/src/app/global.css
  docs/src/app/layout.tsx
  docs/src/app/llms-full.txt/route.ts
  docs/src/app/og/docs/[...slug]/route.tsx
  docs/src/components/not-found.tsx
  docs/src/components/provider.tsx
  docs/src/lib/layout.shared.tsx
  docs/src/lib/source.ts
  docs/src/mdx-components.tsx
  docs/src/routeTree.gen.ts
  docs/src/router.tsx
  docs/src/routes/(docs)/$.tsx
  docs/src/routes/__root.tsx
  docs/src/routes/api/search.ts
  docs/tsconfig.json
  docs/vite.config.ts
Due: none

start to next (#121)
  docs/.claude/settings.json
  docs/.gitignore
  docs/AGENTS.md
  docs/README.md
  docs/biome.jsonc
  docs/bun.lock
  docs/content/docs/index.mdx
  docs/next.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/src/app/(docs)/[[...slug]]/page.tsx
  docs/src/app/(docs)/layout.tsx
  docs/src/app/api/search/route.ts
  docs/src/app/global.css
  docs/src/app/layout.tsx
  docs/src/app/llms-full.txt/route.ts
  docs/src/app/og/docs/[...slug]/route.tsx
  docs/src/components/not-found.tsx
  docs/src/components/provider.tsx
  docs/src/lib/layout.shared.tsx
  docs/src/lib/source.ts
  docs/src/mdx-components.tsx
  docs/src/routeTree.gen.ts
  docs/src/router.tsx
  docs/src/routes/(docs)/$.tsx
  docs/src/routes/__root.tsx
  docs/src/routes/api/search.ts
  docs/tsconfig.json
  docs/vite.config.ts
Due: none

deploy badge
  README.md
Due: none

deploy badge (#122)
  README.md
Due: none

feat: optimize post summary aggregation to use database-level queries
  backend/drizzle/0001_eminent_snowbird.sql
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema/posts.ts
  backend/src/modules/posts/service.ts
Due: none

format
  backend/drizzle/meta/0001_snapshot.json
  backend/src/db/schema/posts.ts
  backend/src/modules/posts/service.ts
Due: none

backend Dockerfile with multi-stage compiled binary
  backend/Dockerfile
Due: none

feat: backend Dockerfile with dev and production targets
  README.md
  backend/Dockerfile
  backend/README.md
  docker-compose.prod.yml
Due: none

use docker-compose.prod as override
  README.md
  backend/README.md
  docker-compose.prod.yml
Due: none

checkpoint
  backend/bun.lock
  backend/package.json
  backend/src/db/utils.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/bun.lock
  frontend/openapi.json
  frontend/orval.config.ts
  frontend/package.json
  frontend/scripts/fetch-openapi.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/posts/create-post-page.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: frontend-format, frontend-lint

format
  backend/src/modules/posts/model.ts
  frontend/src/features/posts/create-post-page.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: none

limit orval generation to json request bodies
  frontend/orval.config.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/posts/create-post-page.tsx
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
Due: frontend-format, frontend-lint

use url format
  backend/src/modules/posts/model.ts
Due: none

stick to uri
  backend/bun.lock
  backend/package.json
  backend/src/modules/posts/model.ts
Due: none

Improve types (#125)
  backend/bun.lock
  backend/package.json
  backend/src/db/utils.ts
  backend/src/modules/posts/index.ts
  backend/src/modules/posts/model.ts
  backend/src/modules/posts/service.ts
  frontend/bun.lock
  frontend/openapi.json
  frontend/orval.config.ts
  frontend/package.json
  frontend/scripts/fetch-openapi.ts
  frontend/src/api/better-auth/better-auth.ts
  frontend/src/api/better-auth/better-auth.zod.ts
  frontend/src/api/linked-in/linked-in.ts
  frontend/src/api/linked-in/linked-in.zod.ts
  frontend/src/api/posts/posts.ts
  frontend/src/api/posts/posts.zod.ts
  frontend/src/api/superimpress.schemas.ts
  frontend/src/features/posts/mark-as-published-dialog.tsx
  frontend/src/features/posts/post-card.tsx
  frontend/src/features/posts/publication-history.tsx
Due: frontend-format, frontend-lint
